<h3>Equipment</h3>
<ul>
  <!-- <li>Habitat dome</li>
  <li>Drones</li>
  <li>Food containers</li>
  <li>Oxygen tanks</li> -->
  <li *ngFor='let equipment of equipments'> 
    <span *ngIf="equipmentBeingEdited !== equipment; else elseBlock">
      <span (click)="editClick(equipment)">{{equipment.name}}</span>
    </span>

    <ng-template #elseBlock>
      <input #updatedEquipment 
      (keyup.enter) = "save(updatedEquipment.value, equipment)" value="{{equipment.name}}" />
      <button (click)="save(updatedEquipment.value, equipment)">Save</button>
    </ng-template> 
  </li>
</ul>

<input #newEquipment type = "text"/>
<button (click)="addEquipment(newEquipment.value)">Add</button>
